@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);


body {

	/* padding: 20px 80px;  */
	background: lightslategrey url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
	/* background: image("C:\Users\harel_000\Desktop") ;  */
	/* background: c */
	/*background-image: url("eye.gif");
	/*!*background-position: ; !* Center the image *!*!*/
	/*margin-top: 25%;*/
	/*margin-left: 15% ;*/
	/*background-repeat: no-repeat; !* Do not repeat the image *!*/
	/*background-size: cover; !* Resize the background image to cover the entire container *!*/
}

#header
{
	top:0px;
	margin-left:15%;
	height: 15%;
	list-style-type: none;
	/*margin: 0;*/
	margin-top: 0%;
	position: center;
	padding: 0;
	width: 85%;
	/*background-color: black;*/
	background: lightslategrey url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}

#menu
{
	/* position: fixed;
	width: 25%;
	height: 35px;
	background: rgb(137, 143, 221); */
	list-style-type: none;
	/*margin: 0;*/
	margin-top: 0%;
	padding: 0;
	width: 15%;
	//background-color: #f1f1f1;
	background: lightslategrey url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
	height: 100%; /* Full height */

}
div {

	position: fixed; /* Make it stick, even on scroll */
	overflow: auto; /* Enable scrolling if the sidenav has too much content */

}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
	background-color: #555;
	color: white;
}
section{

	background-position: top ; /* Center the image */
	background-position-y: 100px;
	background-size: 1500px 1000px;
	margin-top: 15%;
	/*margin-left: 15% ;*/
	background-repeat: no-repeat; /* Do not repeat the image */
	margin-left:15%;
	padding:1px 16px;
	height:1000px;
}
#contact{
	background-image: url("contact.jpg");
}
#qrcoder{
	background-image: url("QR.jpg");
	background-size: 1500px 700px;

}
#qrcoder p {
	color: black;
}
#spa{
	background-image: url("QA.jpg");
	background-size: 1500px 700px;
}
#playlist{
	background-image: url("playlist.jpg");
}
#photos{
	background-image: url("ring.jpg");
}
#about{
	background-image: url("eye.gif") ;
	background-position: top ; /* Center the image */
	background-position-y: 100px;
	background-size: 1500px 600px;
	/*margin-top: 25%;*/
	/*margin-left: 15% ;*/
	background-repeat: no-repeat; /* Do not repeat the image */
}
#about p {
	font-size: 20px;
}
section h1{
	font-family: "Bookman Old Style", serif;
	color: #555;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	/*text-shadow: #000000 3px 2px 0;*/
	text-shadow:5px 5px 5px black;
	position: relative;
}
mainHeadline{
	font-family: "Bookman Old Style", serif;
	color: #555;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 80px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	/*text-shadow: #000000 3px 2px 0;*/
	text-shadow:5px 5px 5px black;
	position: center;
	margin-left: 200px;
}

section p{
	text-indent: 50px;
	color: whitesmoke;
	text-align: justify;
	letter-spacing: 3px;
	font-size: 30px;

}

.photo{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 300px;
}
.home{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 400px;
	margin-left: 50%;
}
 .content.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}
.content.row::after {
	content: "";
	clear: both;
	display: table;
}

.content {
	/*-webkit-flex: 3;*/
	/*-ms-flex: 3;*/
	/*flex: 3;*/
	/*background-color: #f1f1f1;*/
	/*padding: 10px;*/
}
email{}

#contact {
	color: white;
}
